.button1 {
    background-color: grey;
    border: none;
    color: white;
    outline: none;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    width: 22px;
    height: 20px;
}

.button2 {
    background-color: grey;
    border: none;
    color: white;
    outline: none;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    padding-right: 20px;
    cursor: pointer;
    width: 22px;
    height: 20px;
}

.selected-language {
    background-color: #06356a !important;
}